<form [formGroup]="registerForm" >
    
  
    <div class="container">
      <label for="uname"><b>Email</b></label>
      <input type="text" formControlName="email" placeholder="Enter Email" name="uname" required>
  
      <label for="pass"><b>Password</b></label>
      <input type="password" formControlName="password" placeholder="Enter Password" name="pass" required>
  
      <button type="submit" (click)="signup()">Sign In</button>
      <span class="psw"><a routerLink="/login">Registered User? Click here to Login</a></span>
    </div>

  </form>