<form [formGroup]="registerForm" >
    
  
    <div class="container">
      <mat-form-field class="full-width">
        <input matInput type="email" placeholder="Enter email" formControlName="email">
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput type="password" placeholder="Enter password" formControlName="password">
      </mat-form-field>
      <button mat-button type="submit" (click)="signup()">Sign In</button>
      <span class="psw"><a routerLink="/login">Registered User?<br>Click here to login</a></span>
    </div>
   

  </form>