form {
  width: 50%;
  margin-top: 150px;
  margin-left: 365px;
  border: 3px solid #f1f1f1;
}

.full-width{
  width: 100%;
}

#submitbtn{
  color:white;
  margin-left: 5px;
  background: blueviolet;
}

.container {
  padding: 16px;
}
