<form [formGroup]="registerForm">
    
  
    <div class="container">
      <label for="uname"><b>Email</b></label>
      <input type="text" formControlName="email" placeholder="Enter Email" name="uname" required>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" formControlName="password" placeholder="Enter Password" name="psw" required>
  
      <button type="submit" (click)="login()">Log In</button>
      <div id="phone">
        <a routerLink="/phonelogin">Login with phone number</a>
      </div>
    
    </div>
    
  

  </form>

  
  