<link
  rel="stylesheet"
  type="text/css"
  href="//fonts.googleapis.com/css?family=Open+Sans"
/>
<form [formGroup]="registerForm">
  <div class="container">
    <label for="uname"><b>Email</b></label>
    <input
      type="text"
      formControlName="email"
      placeholder="Enter Email"
      name="uname"
      required
    />

    <label for="psw"><b>Password</b></label>
    <input
      type="password"
      formControlName="password"
      placeholder="Enter Password"
      name="psw"
      required
    />

    <button class="login-btn" type="submit" (click)="login()">Log In</button>
    <div id="phone">
      <a routerLink="/phonelogin">Login with phone number</a>
    </div>

    <div class="google-btn" (click)="signinwithgoogle()">
      <div class="google-icon-wrapper">
        <img
          class="google-icon"
          src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"
        />
      </div>
      <p class="btn-text"><b>Sign in with google</b></p>
    </div>
  </div>
</form>
