@import url(https://fonts.googleapis.com/css?family=Roboto:500);
form ,.members{
    width: 80%;
    margin-top: 150px;
    margin-left: 150px;
    border: 3px solid #f1f1f1;
  }

  .members{
    width: 80%;
    margin-top: 50px;
    margin-left: 150px;
    border: 3px solid #f1f1f1;
    padding: 16px;
  }
  
  .full-width{
    width: 100%;
    display: block;
  }
  .submitbtn{
    color:white;
    margin-left: 5px;
    background: blueviolet;
    margin-top: 10px;
    
  }

  table{
  width: 100%;}
  
  
  
  
  
  
  
 
  
  
  .container {
    padding: 16px;
  }


  /* #main-table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    
  }
  
  #main-table td, #main-table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #main-table tr:nth-child(even){background-color: #f2f2f2;}
  
  #main-table tr:hover {background-color: #ddd;}
  
  #main-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:blueviolet;
    color: white;
  } 
  
  .members{
    width: 49%;
    margin-top: 50px;
    margin-left: 365px;
    border: 3px solid #f1f1f1;
    padding: 16px;
  }
  */

  




  
  
  