
<link
rel="stylesheet"
type="text/css"
href="//fonts.googleapis.com/css?family=Open+Sans"
/>


<form (submit)="onSubmit()">
<div class="container">
  <h1>Project Details</h1>
  <label for="name"><b>Name</b></label>
  <input
    type="text"
    placeholder="Enter Name"
    name="name"
    [(ngModel)]="project.name"
  />

  <label for="desc"><b>Description</b></label>
  <input
    type="text"
    placeholder="Enter Description"
    name="desc"
    [(ngModel)]="project.description"
  />
  <label for="dur"><b>Duration</b></label>
  <input
    type="text"
    placeholder="Enter Duration"
    name="dur"
    [(ngModel)]="project.duration"
  />
  <label for="bud"><b>Budject</b></label>
  <input
    type="text"
    placeholder="Enter budget"
    name="bud"
    [(ngModel)]="project.budget"
  />
  <label for="startDate"><b>Startdate</b></label>
  <input
    type="datetime-local"
    placeholder="Enter StartDate"
    name="startDate"
    [(ngModel)]="project.startDate"
  />
  <label for="status">Status</label> <br />
  <select name="status" [(ngModel)]="project.status" >
      <option value="Completed">Completed</option>
      <option value="In-progress">In-Progress</option>
      <option value="New" selected>New</option>
      <option value="Budgeted">Budgeted</option>
  </select>
 

  <button class="save-btn" type="submit" >Save</button>
  

  
</div>
</form>

<div *ngIf="this.flag" class="members">
  <h1>Member Details</h1>
  <h2 *ngIf="memberList.length==0">Please add members</h2>
  <table *ngIf="memberList.length!=0" id="main-table">
    <thead>
        <tr>
          <th>Image</th>
          <th>Name</th>
          <th>Email</th>
          <th>Mobile</th>
          <th>Edit</th>
          <th>delete</th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of memberList">
        <td><img width="100px" height="100px" src="{{data.imgpath}}" alt=""></td>
        <td>{{data.name}}</td>
        <td>{{data.email}}</td>
        <td>{{data.phone}}</td>
        <td><button (click)="update(data)">📝</button></td>
        <td><button (click)="delete(data)">🚮</button></td>
      </tr>
    </tbody>
  </table>
  <button routerLink="/projects/memdetails" id="addMem">Add Members</button>
</div>
