#heading{
    margin-top: 100px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
#main-table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #main-table td, #main-table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #main-table tr:nth-child(even){background-color: #f2f2f2;}
  
  #main-table tr:hover {background-color: #ddd;}
  
  #main-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:blueviolet;
    color: white;
  }

  #insert{
    margin: 0 16px;
  }

  .button {
    float: right;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    margin-right: 16px;
    margin-top: 2px;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .button {
    background-color:blueviolet;
    color: white;
    
    border: 2px solid blueviolet;
  }
  
  .button:hover {
    background-color: white; 
    color: black; 
  }
  