

  

  
  .button {
    margin: 10px;
    color:white;
  margin-left: 5px;
  background: blueviolet;
  float: right;
  }

  .icon:hover{
    color: blue;
  }

  .icon:active{
    color: red;
  }

  
  caption{
    font-size: 20px;
  }
 
  

    

    table {
      width: 100%;
    }

    #insert{
      margin: 0 16px;
    }
  