
<div>
    <h1 id="heading">Open source projects to contribute</h1>
    
</div>
<div id="insert">
<table id="main-table">
    <thead>
        <tr>
          
          <th>Name</th>
          <th>Description</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of projectList">
        <td>{{  data.name}}</td>
        <td>{{ data.description }}</td>
        <td><button (click)="update(data)">📝</button></td>
        <td><button (click)="delete(data)">🚮</button></td>
        
        
      </tr>
    </tbody>
  </table>
  
</div>


<button class="button" (click)="back()">Back</button>
<button class="button" routerLink="/projects/details">Add Project</button>



  
